<h1>TAVIN GATES TURNER   |   MEDICAL IDENTIFICATION</h1>
<p>If you are visiting this page, there has likely been an emergency pertaining to <i>Tavin Gates Turner</i>. This information may be vital for a paramedic or other form of emergency medical service.</p>

<br>
<h2>Anaphylactic Allergies</h2>
<p>Peanuts, tree nuts, dairy, egg, beef, pork, shellfish, & penicillin.</p>
<br>
<h2>Emergency Contact</h2>
<div>
  <h3>Kelli Turner <i>(Jane-Kelli Turner)</i></h2>
  <p><i>Cell Phone:</i> (+1) 303-217-0897</p>
</div>
<br>
<div>
  <h3>Jake Turner <i>(John Turner)</i></h2>
  <p><i>Cell Phone:</i> (+1) 303-217-0898</p>
</div>

For more information:
<ol>
  <li>Open Medical ID on Phone (Back-right pocket)</li>
</ol>
