<div class="container">

      <section class="dictionary">
  <div>
    <span class="term">Turner, Tavin</span><span class="spacer"></span><span class="pronunciation">| /'tavin/ 't̮urner |</span>
  </div>
  <br>
  <span class="definition">
    <i>(Beginning of time-)</i> A student possessing self-acclaimed liberty and determination in work; aspiring Computational Linguist. Known further as "the one with the bow tie" in some cases. Currently owns the website and domain of <a href="https://tavinturner.me">tavinturner.me</a>, where he houses his <a href="/posts">journal</a>.
  </span>
</section>

<footer class="contactfoot"> <a href="mailto:fedorathehutt@gmail.com">email</a> </footer>
