

<div class="wrapper-coming-soon">
  <div class="wireframe-face"></div>
  <h1 class="coming-soon-h1">
	  <span class="keyword">var</span> <%= link_to "tavin", posts_path %> <span class="operator">:</span> <span class="keyvar">Person</span><span class="method">.new</span>(<span class="arrst">{</span><br>
    &nbsp;&nbsp; name <span class="operator">:</span> <span class="string">"Tavin Turner"</span>,<br>
    &nbsp;&nbsp;  hobbies <span class="operator">:</span> <span class="arrst">{</span><br>
    &nbsp;&nbsp;&nbsp;&nbsp;    <span class="string">"art"</span>,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    <span class="string">"code"</span>,<br>
    &nbsp;&nbsp;&nbsp;&nbsp;    <span class="string">"music"</span><br>
    &nbsp;&nbsp;  <span class="arrst">}</span><br>
    <span class="arrst">}</span>)
  </h1>
</div>
