<header>
  <%= image_tag("face.png", class: "faceimage") %>
  <div class="textes">
    <h1>TAVIN</h1>
    <h4>turner</h4>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 90 91.25" version="1.1" class="scrolldown" fill="#eee" height="50px"><rect transform="translate(54.000000, 36.500000) rotate(45.000000) translate(-54.000000, -36.500000) " x="51" y="21.5" width="6" height="30" rx="3"/><rect transform="translate(36.000000, 36.500000) rotate(-45.000000) translate(-36.000000, -36.500000) " x="33" y="21.5" width="6" height="30" rx="3"/></svg>
</header>
<section class="mainsect1">
  <div class="whatido">
    <h2><a href="http://www.freefallingstudios.com">Free Falling Studios</a></h2>
    <h2><a href="http://teamhelix.me">CyberPatriot</a></h2>
    <h2>LMS Γ</h2>
    <h2>Classical Guitar</h2>
  </div>
</section>
