<div class="whatido">
  <h1>su tavin</h1>
  <div class="commands">
    <h2><a href="https://github.com/itsTurner/mumble">mbl</a></h2> - <h2><a href="http://www.freefallingstudios.com">ffs</a></h2> - <h2><a href="http://teamhelix.me">cp</a></h2> - <h2>lms</h2>
  </div>
  <h3 class="fr">ce n'est pas sage dire parce que on faut, mais parce que on a quelque chose à dire</h3>
</div>
