<div class="postcontent">

<h1>Issue <%= @post.id %>: <span class="postshowtitle"><%= @post.title %></span>
</h1>
<div class="postbody">
  <%= @post.body.gsub(/\n/, '<br/>').html_safe %>
</div>

</div>
