/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
html, body {
  margin: 0;
  padding: 0;

  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  color: #212121;

  font-family: "Roboto";
  font-weight: 100;
}
* {
  transition: all 200ms;
}

a {
  color: rgb(40, 49, 69);
  text-decoration: none;
  &:visited {
    color: rgb(40, 49, 69);
  }
  &:hover {
    color: rgb(40, 49, 69);
  }
}

header {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  color: #eee;
  margin: 0;

  .textes {
    margin-right: 5vw;
    z-index: 4;
    animation: enter 2s ease-out;
    opacity: .5;
    transform: scale(.75);
    transform-origin: right;
  }
  h1 {
    z-index: 4;
    font-size: 25.5vw;
    margin: 0;
    font-weight: bold;
  }
  h4 {
    font-size: 5vw;
    letter-spacing: 11vw;
    margin-top: -8vw;
    margin-right: -11vw;
  }
  .faceimage {
    position: absolute;
    height: 90vh;
    max-width: calc(100vw+100px);
    top: 5vh;
    left: -100px;
    z-index: 1;
    object-fit: cover;
  }
  ::selection {
    background-color: transparent;
  }
}

.blocc {
  width: 100vw;
  height: 100vh;
  display: fixed !important;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: red;
}

@keyframes enter {
  from {
    margin-top: 30vh;
    opacity: 0;
  }
  to {
    margin-top: 0vh;
    opacity: .5;
  }
}

section.mainsect1 {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/W3SKJjf.jpg");
  background-size: cover;
  background-position: center bottom;
  margin: 0;
  color: #333;
  box-sizing: border-box;

  * {
    margin: 0;
  }
  h1 {
    margin: 0;
    position: relative;
    right: 2vw;

    text-transform: lowercase;
    font-weight: 100;
    font-size: 3rem;

    color: #222;
  }
  h2 {
    text-transform: uppercase;
    font-size: 7vw;
    color: #111;
    font-weight: 100;
  }
  .whatido {
    height: 28vw;
    line-height: 7vw;
    position: relative;
    top: 7vw;
    left: 5vw;
    mix-blend-mode: difference;
  }
}

::selection {
  background-color: rgba(125, 125, 125, .2);
}

.scrolldown {
  position: absolute;
  left: calc(50vw - 25px);
  bottom: 5vh;
  opacity: .8;

  transition: all 1s;

  animation: scroll 2s ease infinite;
}

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(10px);
	}
}
