/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Alegreya:400|Overpass:100,900|Roboto:100,400,700|Source+Code+Pro:200,400');


/* reset */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto";
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: rgba(135, 79, 255, .25);
}



/* basics */
h1 {
  font-family: "Overpass";
  font-weight: 900;
}
p {
  font-family: "Roboto";
  font-weight: 400;
}

/* other */
.wrapleft {
  width: 90vw;
  margin-left: 10vw;
}

.paddingwrapper {
  padding: 10px;
}

.facehomebuttonthing {
  position: fixed;
  display: block;
  width: 5vw;
  height: 5vw;
  top: 0vw;
  height: 2vw;
  background-image: image-url("Face_Wireframe.png");
  z-index: 3;
  border: 0px solid transparent !important;
}
.facehomebuttonthing img {
  width: 10vw;
  height: 10vw;
}

.leftmenu {
  position: fixed;
  width: 10vw;
  height: 100vh;
  background-color: #FAFAFA;
}
