// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {

	width: 80%;
	margin-left: 10%;
	margin-bottom: 2.5%;
	box-sizing: border-box;
	padding: 4% 2.5%;
	padding-bottom: 1%;
	border: 1px solid black;
	transition: all 0.2s;

	* {
		transition: all 0.2s;
	}

}

.post:hover {

	border: 5px solid black;
	padding: calc(4% - 4px) calc(2.5% - 4px);
	padding-bottom: calc(1% - 4px);

	.pubdate {
		opacity: 0;
	}
	.issuenum {
		margin-bottom: 4.5%;
		margin-top: -1%;
	}
	.postpreview {
		margin-top: 2%;
	}
		
}

.post a {

	color: #222;
	text-decoration: none;

}

.issuenum {
	
	font-size: .9rem;
	margin-bottom: 2%;

}
.posttitle {
	
	font-family: "Georgia", "Times New Roman", serif;
	font-weight: 400;
	margin-left: 1%;

}

.postpreview {
	
	font-family: "Alegreya", "Georgia", "Times New Roman", serif;
	font-style: italic;
	margin-top: 1.5%;
	margin-left: 1%;
	
}

.pubdate {

	width: 100%;
	box-sizing: border-box;
	padding-top: 1%;
	margin-top: 4%;
	padding-right: 5%;
	border-top: .5px solid black;
	color: black;
	text-align: right;

	font-family: "Overpass";
	font-weight: 100;

}

.postcontent {
	box-sizing: border-box;
	padding: 5%;
}
.postshowtitle {
	@extend .posttitle;
	font-family: Roboto;
	font-weight: 100;
}
.postbody {
	margin-top: 7.5%;
	width: 90%;
	margin-left: 5%;
	font-family: "Alegreya";
	font-size: 15pt;
	text-align: justify;
}
